.contact-info {
    margin-top: 32px;
    background-color: var(--accent2-color);
    padding: 24px;
    border-radius: 8px;
    color: #333;
}

.contact-info h1 {
    font-family: var(--heading-font);
    text-align: center;
    margin-bottom: 16px;
}

.contact-info a {
    color: var(--accent1-color);
    font-weight: bold;
}
