/* NAV */
nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
}

/* MAIN */
main {
    max-width: 840px;
    margin: 0 auto;
}

/* H1 */
h1 {
    color: #003366;
}

/* MAIN IMAGE */
main img {
    width: 150px;
    height: auto;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

/* ASIDE */
aside {
    width: 300px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

/* PARAGRAPHS */
p {
    padding: 0;
}

/* FOOTER */
footer {
    margin-top: 2rem;
    border-top: 2px solid #ccc;
    text-align: center;
    padding-top: 1rem;
}