/* White page background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
    text-align: center;
    /* Centers header/footer boxes */
}

/* Header: lighter and thinner */
header {
    display: inline-block;
    background-color: #333;
    /* lighter than black */
    color: #fff;
    padding: 1px 10px;
    ;
    margin-top: 5px;
    font-weight: normal;
    font-size: 0.75rem;
}

/* Main card container (scaled to 50%) */
main {
    max-width: 250px;
    margin: 0px auto;
    padding: 0 15px transform: scale(0.5);
    transform-origin: top center;
}

/* Title */
h1 {
    color: #000;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

/* Temple image with stronger left/right shadow */
picture img {
    width: 100%;
    display: block;
    margin: 0 auto 20px auto;

    box-shadow:
        15px 0 25px rgba(0, 0, 0, 0.35),
        -15px 0 25px rgba(0, 0, 0, 0.35);
}

/* Grey content boxes */
section {
    background-color: #dbdddd;
    padding: 15px;
    margin: 0 0 15px 0;
    text-align: left;
    font-size: 0.7rem;
}

/* Section headings */
h2 {
    margin-top: 0;
    color: #000;
}

/* Links */
a {
    color: #0055aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0px 80px;
    margin-top: 0;
    font-size: 0.75rem;
}